.Body{
  display:flex;
  background-color:#069274 ;
  padding: 20px;
  position: relative;
}
.buttons{
  margin: 0;
  display: flex;
  flex-direction: column;
}
button{
  margin-left: 10px;
  width: 100px;
  height: 55px;
  background-color: #069274;
  border: 1px solid white;
  border-radius: 2px;
  box-shadow: 2px;
  font-weight: bold;
  color: white;
}
.Heading,.Bottom{
  background-color:#069274;
  color: white;
  text-align: center;
  padding:20px;
  transition: all 1s;
}
h1{
  margin: 0;
}
.image{
  height: 50px;
  width: 50px;
}
.Racks{
  background-color: white;
  height: 5px;
  width:  150px;
}
.overlay{
  height: 50px;
  width: 50px;
  position: absolute;
  margin-top: 200px;
  transition: all 1s;
}
.Machine{
  display: inline-block;
}
.glass{
  position: absolute;
  background-color: rgba(0,0,0,0.2);
  width:100%;
  height: 100%;
  bottom:0%;
  top:0%;
  left:0%;
  right:0%;
  transition: all 1s;
}
.open{
  position: absolute;
  background-color: rgba(0,0,0,0.2);
  width:0%;
  height: 100%;
  bottom:0%;
  top:0%;
  left:0%;
  right:0%;
  transition: all 1s;
}
.Things{
  position: relative;
}
.Result{
  background-color: #069274;
  color: white;
  height: 0px;
  text-align: center;
  transition: all 1s;
}